.header {
    width:375px;
    height:151px;
    background:linear-gradient(234deg,rgba(115,141,167,1) 0%,rgba(48,67,90,1) 100%);
    padding: 0 0;
}

.header-img {
    margin-top: 20px;
}

.header img{
    width:132px;
    height:70px;
}
.header-text{
    margin-top: 8px;
    text-align: center;
    font-size:12px;
    font-family:SFProText-Regular;
    font-weight:400;
    color:rgba(255,255,255,0.7);
    line-height:6px;
}

.th-text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    color:rgba(48,67,90, 0.6);
    line-height:15px;
}

.th-text-3 {
    padding: 0 0;
}

.rank-list {
    height: 68px;
    position: relative;
}

.rank-list p{
    margin: 0 0;
    padding: 0 0;
    font-size:12px;
    font-family:SFProText-Semibold;
    font-weight:600;
    color:rgba(48,67,90,1);
    line-height: 68px;
}
.rank-list::after {
    content: '';
    position: absolute;
    left: 60px;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 1px;
    background-color: rgba(242,242,242,1);
}
.img-avatar{
    padding: 0 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-no {
    padding: 0 0;
    width: 21px;
    height: 32px;
    transform: translateY(50%);
}

.query-total {
    padding-right: 25px;
}

.self-bg {
    background:linear-gradient(270deg,rgba(252,253,255,1) 0%,rgba(241,244,255,1) 100%);
}
